.datetime-spinner {
    .wrap {
        float: left;
        height: 26px;
        overflow: hidden;
        text-align: center;
        width: 18.59%;
        cursor: pointer;
        &:hover {
            overflow: visible;
            .list {
                background-color:#efefef;
            }
        }
        &.colon {
            width: 5%;
            &:hover {
                cursor: default;
                background-color:#ffffff;
            }
            .inner {
                padding: 4px 0px;
            }
        }
        .list {
            width: 100%;
        }
    }
    .option {
        padding: 5px 0px;
        display:block;
    }
}