<div class="row">
    <div class="col">
        ui-input-select
    </div>
    <div class="col" style="text-align: right"> {{$ctrl.selectedValue}}
    </div>
</div>
<div class=" row ">
    <div class="col ">
        basic (numbers)
    </div>
    <div class="col ">
        <ui-input-select ng-model="$ctrl.selectedValue" options=" { placeholder: 'enter percentage...', items: [1, 2, 3] } "></ui-input-select>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        basic (numbers)
    </div>
    <div class="col ">
        <ui-input-select ng-model="$ctrl.selectedValue" options=" { placeholder: 'enter percentage...', items: [2, 3, 4] } "></ui-input-select>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        basic (strings)
    </div>
    <div class="col ">
        <ui-input-select ng-model="$ctrl.selectedValue" options=" { placeholder: 'enter percentage...', items: ['1', '2', '3'] } " ng-options="item in items"></ui-input-select>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        basic (strings)
    </div>
    <div class="col ">
        <ui-input-select ng-model="$ctrl.selectedValue" options=" { placeholder: 'enter percentage...', items: ['2', '3', '4'] } "></ui-input-select>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        basic (objects)
    </div>
    <div class="col ">
        <ui-input-select ng-model="$ctrl.selectedValue" options=" { placeholder: 'enter percentage...', items: [{ value: 1, label: 'one'}, { value: 2, label: 'two'}, {value: 3, label: 'three'}], labelProp: 'label' } "></ui-input-select>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        basic (objects)
    </div>
    <div class="col ">
        <ui-input-select ng-model="$ctrl.selectedValue" options=" { placeholder: 'enter percentage...', items: [{ value: 1, label: 'one'}, { value: 2, label: 'two'}, {value: 3, label: 'three'}], labelProp: 'label', valueProp: 'value' } "></ui-input-select>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        async (objects)
    </div>
    <div class="col ">
        <ui-input-select ng-model="$ctrl.selectedValue" options="$ctrl.asyncOptions"></ui-input-select>
    </div>
</div>