$focussedBorderColor: #4ab2f7;

ui-input-percentage-spinner {
    > div > div {

        input {
            text-align: right;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    i {
        cursor: pointer;
        &[disabled] {
            opacity: 0.3;
        }
    }
}