<div class="row">
    <div class="col">
        ui-input-percentage-spinner
    </div>
    <div class="col" style="text-align: right"> {{$ctrl.percentageValue}}
</div>
</div>
<div class=" row ">
    <div class="col ">
        basic - with increment (0.5)
    </div>
    <div class="col ">
        <ui-input-percentage-spinner ng-model="$ctrl.percentageValue" options=" { placeholder: 'enter percentage...' } " ui-increment="0.5"></ui-input-percentage-spinner>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        basic - with incr & prec (0.5, 2)
    </div>
    <div class="col ">
        <ui-input-percentage-spinner ng-model="$ctrl.percentageValue" options=" { placeholder: 'enter percentage...' } " ui-increment="0.5" ui-precision="2"></ui-input-percentage-spinner>
    </div>
</div>
<div class="row ">
    <div class="col ">
        ng-required
    </div>
    <div class="col ">
        <ui-input-percentage-spinner ng-model="$ctrl.percentageValue" options=" { placeholder: 'enter percentage...' } " ng-required="true "></ui-input-percentage-spinner>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        with precision (0)
    </div>
    <div class="col ">
        <ui-input-percentage-spinner ng-model="$ctrl.percentageValue" options=" { placeholder: 'enter percentage...' } " ui-precision="0"></ui-input-percentage-spinner>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        with precision (1)
    </div>
    <div class="col ">
        <ui-input-percentage-spinner ng-model="$ctrl.percentageValue" options=" { placeholder: 'enter percentage...' } " ui-precision="1"></ui-input-percentage-spinner>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        with precision (2)
    </div>
    <div class="col ">
        <ui-input-percentage-spinner ng-model="$ctrl.percentageValue" options=" { placeholder: 'enter percentage...' } " ui-precision="2"></ui-input-percentage-spinner>
    </div>
</div>

<div class=" row ">
    <div class="col ">
        extended bounds (-50, 200)
    </div>
    <div class="col ">
        <ui-input-percentage-spinner ng-model="$ctrl.percentageValue" options=" { placeholder: 'enter percentage...' } " ui-min="-50" ui-max="200"></ui-input-percentage-spinner>
    </div>
</div>

<div class=" row ">
    <div class="col ">
        as ktonnes....
    </div>
    <div class="col ">
        <ui-input-percentage-spinner
                ng-model="$ctrl.percentageValue"
                options=" { placeholder: 'enter percentage...' } "
                ui-max="1000000"
                ui-units="ktonne"
                ui-factor="0.001"
                ui-precision="2"
        ></ui-input-percentage-spinner>
    </div>
</div>

<div class=" row ">
    <div class="col ">
        readonly
    </div>
    <div class="col ">
        <ui-input-checkbox ng-model="$ctrl.readonly"/>
    </div>
    <div class="col ">
        <ui-input-percentage-spinner ng-model="$ctrl.percentageValue" ui-readonly="$ctrl.readonly"></ui-input-percentage-spinner>
    </div>
</div>
