$focussedBorderColor: #4ab2f7;
$invalidBorderColor:#f00;

.ui-input {
    > div {
        display: table;
        width: 100%;
        border: solid 1px#ddd;
        border-radius: 4px;

        input {
            display: table-cell;
            width: 100%;
            border: solid 0px transparent;
            background: transparent;
            padding:8px;
            outline: none;
            &::-webkit-input-placeholder,
            &:-moz-placeholder
            &::-moz-placeholder,
            &:-ms-input-placeholder {
                color: #ccc !important;
            }
        }
        .addon {
            display: table-cell;
            vertical-align:middle;
            width:1%;
            padding: 4px;
        }
    }
    &.focussed {
        >   div {
            border: solid 1px $focussedBorderColor;
        }
    }
    &.ng-invalid {
        >   div {
            border: solid 1px $invalidBorderColor;
        }
    }
}