<div class="row">
    <div class="col">
        ui-input-number
    </div>
    <div class="col" style="text-align: right"> {{$ctrl.numberValue}}
</div>
</div>

<div class=" row ">
    <div class="col ">
        basic
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.numberValue " options=" { placeholder: 'enter number...' } "></ui-input-number-spinner>
    </div>
</div>
<div class="row ">
    <div class="col ">
        ng-required
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.numberValue " options=" { placeholder: 'enter number...' } " ng-required="true "></ui-input-number-spinner>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        with precision (0)
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.numberValue " options=" { placeholder: 'enter number...' }" ui-precision="2"></ui-input-number-spinner>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        with precision (1)
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.numberValue " options=" { placeholder: 'enter number...'} " ui-precision="1" ui-increment="0.1"></ui-input-number-spinner>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        with precision (2)
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.numberValue " options=" { placeholder: 'enter number...' } " ui-precision="2" ui-increment="0.01"></ui-input-number-spinner>
    </div>
</div>

<div class=" row ">
    <div class="col ">
        with bounds (-10, 10)
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.numberValue " options=" { placeholder: 'enter number...' } " ui-max="10" ui-min="-10"></ui-input-number-spinner>
    </div>
</div>

<div class="row ">
    <div class="col ">
        ui-validate ( > 0 )
    </div>
    <div class="col">
        <ui-input-number-spinner ng-model="$ctrl.numberValue" options=" { placeholder: 'enter number...' } " ui-validate="'$value > 0'"></ui-input-number-spinner>
    </div>
</div>

<div class=" row ">
    <div class="col ">
        disabled
    </div>
    <div class="col ">
        <ui-input-checkbox ng-model="$ctrl.disabled"></ui-input-checkbox>
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.numberValue " ui-disabled="$ctrl.disabled"></ui-input-number-spinner>
    </div>
</div>

<div class=" row ">
    <div class="col ">
        readonly
    </div>
    <div class="col ">
        <ui-input-checkbox ng-model="$ctrl.readonly"></ui-input-checkbox>
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.numberValue " ui-readonly="$ctrl.readonly"></ui-input-number-spinner>
    </div>
</div>

<div class=" row ">
    <div class="col ">
        dependent controls
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.MaxValue" ></ui-input-number-spinner>
    </div>
    <div class="col ">
        <ui-input-number-spinner ng-model="$ctrl.numberValue " ui-max="$ctrl.MaxValue" ></ui-input-number-spinner>
    </div>
</div>

<div class="row">
    <div class="col">
        postfix
    </div>
    <div class="col">
        <ui-input-number-spinner ng-model="$ctrl.numberValue">
            <postfix>
                <div class="addon">+</div>
            </postfix>
        </ui-input-number-spinner>
    </div>
</div>

<div class=" row ">
    <div class="col ">
        Set Max Value
    </div>
    <div class="col ">
        <ui-input-number-spinner
                ng-model="$ctrl.maxValue"
        ></ui-input-number-spinner>
    </div>
</div>
<div class=" row ">
    <div class="col ">
        Apply Max Value
    </div>
    <div class="col ">
        <ui-input-number-spinner
                ng-model="$ctrl.numberValue"
                ui-max="$ctrl.maxValue"                
        ></ui-input-number-spinner>
    </div>
</div>


<table style="width: 100%">
<tr>
    <td>in a table</td>
    <td style="width: 116px;padding: 8px">
<ui-input-number-spinner ng-model="$ctrl.numberValue" options=" { placeholder: 'enter number...' } " ui-validate="'$value > 0'"></ui-input-number-spinner>
</td>
</tr>
</table>-->